exportPattern("^[[:alpha:]]+")
# importClassesFrom(raster, RasterLayer, RasterStack)
# importMethodsFrom(raster,raster)
importClassesFrom(terra, SpatRaster)
importMethodsFrom(terra, rast)
importFrom("stats", "dnorm")
importFrom("methods", "as")
importFrom("grDevices", "as.raster", "colorRampPalette", "dev.capabilities", "rgb")
importFrom("graphics", "axis", "image", "layout", "par", "plot", "rasterImage")
export("asgrid")
S3method(asgrid, matrix)
S3method(asgrid, SpatRaster)
S3method(eliminatesmallpatches, grid)
S3method(eliminatesmallpatches, matrix)
S3method(findsmallpatches, grid)
S3method(findsmallpatches, matrix)
S3method(plot, grid)
S3method(print, grid)
S3method(spread, grid)
S3method(spread, matrix)
S3method(nibbleNA, grid)
S3method(nibbleNA, matrix)
S3method(patchscan, grid)
S3method(patchscan, matrix)
S3method(swap, grid)
S3method(swap, matrix)

