exportPattern("^[^\\.]")
importClassesFrom(raster, RasterLayer, RasterStack)
importMethodsFrom(raster,raster)
importFrom("stats", "dnorm")
importFrom("grDevices", "as.raster", "colorRampPalette",
               "dev.capabilities", "rgb")
importFrom("graphics", "axis", "image", "layout", "par", "plot",
               "rasterImage")
S3method(plot, grid)
S3method(print, grid)
S3method(spread, matrix)
S3method(spread, grid)
S3method(as.grid, RasterStack)
S3method(as.grid, RasterLayer)
S3method(as.grid, SpatialGridDataFrame)
S3method(as.grid, SpatialPixelsDataFrame)
S3method(as.grid, SpatialPointsDataFrame)
S3method(as.grid, matrix)
